
[access]
	inheritFrom = Kernel-Projects
[project]
	description = Bug: 163806467
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group kernel-goldfish
	submit = group kernel-goldfish
[access "refs/heads/trout-android12-5.10"]
	label-Code-Review = -2..+2 group mdb/aae-virtualization
[access "refs/heads/android12-5.10-arcvm"]
	label-Code-Review = -2..+2 group ARCVM Approvers
[access "refs/heads/android13-5.15-arcvm"]
	label-Code-Review = -2..+2 group ARCVM Approvers
[access "refs/heads/trout-android14-6.1"]
	label-Code-Review = -2..+2 group mdb/aae-virtualization
