config KLEAF_TEST_Y
	tristate "KLEAF_TEST_Y"

config KLEAF_TEST_NOT_SET
	tristate "KLEAF_TEST_NOT_SET"

config KLEAF_TEST_M
	tristate "KLEAF_TEST_M"

config KLEAF_TEST_MAIN
	tristate "KLEAF_TEST_MAIN"
